@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

@keyframes flash {
  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

.caret {
  animation-name: flash;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  transition: 0.12s;
}

.caret {
  position: absolute;
  display: inline;
}

@layer utilities {

  
  .h-my-screen {
    height: 100vh; /* fallback for Opera, IE and etc. */
    height: 100svh;
  }

   /* Customize website's scrollbar like Mac OS
Not supports in Firefox and IE */

  /* total width */
  .scrollbar::-webkit-scrollbar {
    /*  Uncomment the following code to hide scrollbar, while still being able to scroll */
    /* display: none; */
    width: 7px;
    @apply bg-transparent;
  }

  /* background of the scrollbar except button or resizer */
  .scrollbar::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
  .scrollbar::-webkit-scrollbar-track:hover {
    @apply bg-transparent;
  }

  /* scrollbar itself */
  .scrollbar::-webkit-scrollbar-thumb {
    /*background-color: #646669;*/
    @apply bg-[#646669];
    border-radius: 2px;
  }
  .scrollbar::-webkit-scrollbar-thumb:hover {
    /*background-color: #d1d0c5;*/
    @apply bg-neutral-300;
  }
  .scrollbar::-webkit-scrollbar-thumb:active { 
    /*background-color: #e2b714;*/
    @apply bg-primary;
}  

  /* set button(top and bottom of the scrollbar) */
  .scrollbar::-webkit-scrollbar-button {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}
